@import url(http://fonts.googleapis.com/css?family=PT+Sans);
body {
  font-size: 1.6em;
  font-family: 'PT Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 50%;
  margin: 1.6em auto;
}
[name=task-input] {
  display: block;
  width: 100%;
  font-size: 1.6em;
  padding: 0.3em;
  border: 1px solid #ddd;
  border-radius: 0.1em;
}
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.6em;
}
.task-list#completed-task-list .description {
  text-decoration: line-through;
  color: #999;
}
.task-list .task {
  width: 100%;
  text-align: right;
  margin: 0.3em auto;
  padding: 0.3em;
  border-bottom: 1px solid #eee;
  color: #444;
}
.task-list .task:hover {
  color: #000;
}
.task-list .task .description {
  float: left;
}
.task-list .task a {
  text-decoration: none;
  color: #999;
}
[name=username],
[name=password] {
  display: block;
  width: 50%;
  font-size: 0.6em;
  padding: 0.3em;
  border: 1px solid #ddd;
  border-radius: 0.2em;
}
.admin {
  color: #444;
}
.admin .wrapper {
  width: 80%;
}
.admin .admin-task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.6em;
}
.admin .admin-task-list .task .description {
  clear: both;
  display: block;
}
.admin table {
  width: 100%;
  font-size: 0.8em;
  border: 1px solid #ddd;
  text-align: left;
  border-collapse: collapse;
  border-radius: 5px;
}
.admin table thead {
  border-bottom: 1px solid #ddd;
}
.admin table td,
.admin table th {
  padding: 0.3em;
  border: 1px solid #ddd;
}
a {
	color: inherit;
	font-size: 0.8em;
	padding: 0.3em;
}
